<html>
  <head>
    <title>Hello World!</title>
  </head>
  <body>
    {{ content|raw }}

    <!-- Scripts -->
    <script src="/js/runtime.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>