<form id="domainSubmissionForm">
  <label for="domain">Domain</label>
  <input type="text" id="domain" name="domain" />

  <label for="address">Host Address</label>
  <input type="text" id="address" name="address" />

  <label for="owner">Owner (Optional)</label>
  <input type="text" id="owner" name="owner" />

  <button type="submit">Submit Domain</button>
</form>

<table id="domainslist">
  <thead>
    <th>Root Domain</th>
    <th>Added on</th>
    <th>Owner</th>
    <th>Actions</th>
  </thead>
  <tbody>
    
  </tbody>
</table>